@media screen and (min-width: 641px) {
html,body {
  margin: 0;
  padding: 0;
}

#content {
  margin: 0;
  padding: 0;
}

.Header {
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-justify-content: flex-end; /* Safari */
  justify-content:         flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  height: 150px;
  z-index: 10;
}

.Header > .AdSpace {
  width: 728px;
  height: 90px;
  position: absolute;
  left: 0;
  /*background-color: #FFF;*/
  padding: 0;
  margin: 20px;
}

/*.Header > .HeaderContents {
  width: 300px;
  position: absolute;
  right: 0;
}
*/
.Header > .HeaderContents > h1 {
  text-align: right;
  margin: 0;
  margin-right: 20px;
  padding: 10px;
/*  filter:dropshadow(color=#000000,offX= 0,offY=-1)
  dropshadow(color=#000000,offX= 1,offY= 0)
  dropshadow(color=#000000,offX= 0,offY= 1)
  dropshadow(color=#000000,offX=-1,offY= 0);

  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;

  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
               black 1px -1px 0px, black -1px -1px 0px;*/
}

.Header > .HeaderContents a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.Header > .HeaderContents > span {
  display: block;
  text-align: right;
  margin: 10px;
  margin-right: 20px;
  padding: 10px;
}

.Header > .HeaderContents > .HeaderMenu {
  -webkit-justify-content: flex-end; /* Safari */
  justify-content: flex-end;
}

.Header > .HeaderContents > .HeaderMenu > a {
  text-decoration: underline;
}

.Header > .HeaderContents > .HeaderMenu > .Rights {
  width: 260px;
  text-align: right;
  padding-right: 10px;
  margin-right: 20px;
}

.flexBox {
  display: -webkit-flex;
  display: flex;
}

.Contents {
  margin-top: 150px;
  width: 100%;
  height: 100%;
}

.MenuBox {
  min-width: 300px;
  width: 300px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: rgb(238, 238, 238);
  position: fixed;
}

.Rss {
  padding: 5px 0;
  height: 30px;
  position: relative;
  /*padding-left: 0px;*/
}

.Rss:hover {
  background-color: rgb(220, 220, 220);
}

.selected {
  background-color: rgb(200, 200, 200);
}

.Rss > img {
  /*padding: 5px;*/
  position: absolute;
  /*padding-left: 10px;*/
  top: 7px;
  left: 10px;
}

.Rss > a {
  padding: 5px;
  /*padding-left: 10px;*/
}

.Rss > span {
  padding: 5px;
  padding-left: 10px;
}

.RssAll {
  padding: 7px;
  height: 30px;
  padding-left: 2px;
}

.RssAll > .glyphicon {
  height: 20px !important;
  padding: 0;
  padding-left: 8px;
  font-size: 16px;
}

.RssAll > .all {
  display: inline-block;
  padding-left: 5px;
  padding-top: 0;
  width: 260px;
  cursor: pointer;
}

.Monthly {
  padding: 7px;
  height: 30px;
  padding-left: 2px;
}

.Monthly > .glyphicon {
  height: 20px !important;
  padding: 0;
  padding-left: 8px;
  font-size: 16px;
}

.Monthly > .monthly {
  display: inline-block;
  padding-left: 5px;
  padding-top: 0;
  width: 260px;
  cursor: pointer;
}


.Rss > span.blogTitle {
  padding: 0;
  padding-left: 31px;
  display: inline-block;
  width: 260px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.Rss > input[type="checkbox"] {
  position: absolute;
  top: 5px;
  right: 10px;
}

.ArticleBox {
  margin-left: 300px;
  width: 100%;
  height: 100%;
  /*padding: 5px;
  margin-right:5px;*/
}

.articleList {
  /*width: 100%;*/
  /*margin: 0 auto;*/
}

.articleRow {
  font-size: 14px;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
  border-bottom: solid 1px #DDD;
}

.articleRow:hover {
  background-color: rgb(220, 220, 220);
}

.articleRow a {
  text-decoration: none;
  color: rgb(80, 80, 180);
}

.articleRow a:visited {
  color: rgb(150, 150, 150);
}

.articleDate {
  width: 100px;
  padding: 0;
  padding-left: 10px;
}

.articleTitle {
  width: 70%;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /*border-left: solid 1px #000;
  border-right: solid 1px #000;*/
}

.articleTitle:hover {
  text-decoration: underline;
}

.articleBlog {
  width: 12%;
  position: absolute;
  right: 40px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.articleBlog:hover {
  text-decoration: underline;
}

.articleDeleteButton > div {
  font-size: 100%;
  width: 40px;
  position: absolute;
  right: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.articleDeleteButton > div:hover {
  /*background-color: rgb(120, 145, 170);*/
}

.pageList {
  width: 360px;
  margin: 0 auto;
  margin-left: 360px;
  padding: 10px;
  font-size: 120%;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  display:none;
}

.page {
  padding: 2px;
}

.page a:hover {
  text-decoration: underline;
  background-color: rgb(220, 220, 220);
}

.page a {
  text-decoration: none;
  color: rgb(80, 80, 180);
}

.page a:visited {
  text-decoration: none;
  color: rgb(80, 80, 180);
}

.Footer {
  height: 120px;
  background-color: rgb(70, 70, 70);
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end; /* Safari */
  justify-content:         flex-end;
}

.Footer > .AdSpace {
  width: 720px;
  height: 90px;
  position: absolute;
  left: 0;
  /*background-color: #FFF;*/
  padding:0;
  margin: 20px;
}

.Footer > .FooterContents {
  width: 300px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.Footer > .FooterContents a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.Rights {
  width: 260px !important;
  color: rgb(255, 255, 255);
}

.About {
  margin-top: 160px;
  width: 100%;
}

.About > div {
  width: 60%;
  margin: 0 auto;
}

.About h2 {
  text-decoration: underline;
}

}
