@media screen and (max-width: 640px) {
html,body {
  margin: 0;
  padding: 0;
}

#content {
  margin: 0;
  padding: 0;
}

.Body {
  width: 100%;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  50% {
    background: black;
  }
}
@keyframes pulse {
  50% {
    background: black;
  }
}

.loading {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 40px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 0.80rem solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}
.loading--double {
  border-style: double;
  border-width: .5rem;
}

.loading-pulse {
  position: absolute;
  background-color: rgb(91, 91, 91);
  z-index: 20;
  bottom: 20px;
  right: 20px;
  width: 6px;
  height: 24px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.loading-pulse:before, .loading-pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: 16px;
  width: 6px;
  background: rgba(255, 255, 255, 0.2);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
}
.loading-pulse:before {
  left: -12px;
}
.loading-pulse:after {
  left: 12px;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.Header {
  width: 100%;
  height: 230px;
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-justify-content: flex-end; /* Safari */
  justify-content:         flex-end;
}

.Header > .AdSpace {
  width: 600px;
  height: 60px;
  position: absolute;
  top: 140px;
  left: 0;
  padding: 0;
  margin: 20px;
}

.Header > HeaderContents {
  width: 300px;
  position: absolute;
  right: 0;
}

.Header > .HeaderContents > h1 {
  text-align: right;
  margin: 0;
  margin-right: 20px;
  padding: 10px;
}

.Header > .HeaderContents > h1 > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.Header > .HeaderContents a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.Header > .HeaderContents > span {
  display: block;
  text-align: right;
  margin: 10px;
  margin-right: 20px;
  padding: 10px;
}

.Header > .HeaderContents > .HeaderMenu {
  -webkit-justify-content: flex-end; /* Safari */
  justify-content: flex-end;
}

.Header > .HeaderContents > .HeaderMenu > a {
  text-decoration: underline;
  font-size: 24px;
  margin-right: 30px;
}

.Header > .HeaderContents > .HeaderMenu > .Rights {
  display: none;
  width: 160px;
  text-align: right;
  padding-right: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.Contents {
  width: 1280px;
  margin-left: -640px;
  padding: 0;
  position: relative;
}

.flexBox {
  display: -webkit-flex;
  display: flex;
}

.shadow {
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
}

.MenuBox {
  width:640px;
  position: absolute;
  left: 0;
  background-color: rgb(238, 238, 238);
  transform: translate3d(0,0,0);
}

.Rss {
  position: relative;
  /*margin: 5px 0;*/
  padding: 5px 0;
  border-bottom: solid 1px rgb(221, 221, 221);
}

.Rss > img {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}

.Rss > span {
  margin-left: 10px;
  font-size: 40px;
}

.Rss > span.all {
  display: inline-block;
  width: 560px;
}

.Rss > span.blogTitle {
  display: inline-block;
  width: 500px;
  margin-left: 64px;
  padding-top: 8px;
  font-size: 32px;
  border-right: solid 1px rgb(221, 221, 221);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.Rss > input[type="checkbox"] {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 15px;
  /*border-left: solid 1px rgb(221, 221, 221);*/
}

.selected {
  background-color: rgb(200, 200, 200);
}

.ArticleBox {
  margin-left: 640px;
  width: 640px;
}

.articleList {
  margin: 0 auto;
}

.articleRow {
  font-size: 14px;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
  border-bottom: solid 1px rgb(221, 221, 221);
  position: relative;
  background-color: rgb(255, 255, 255);
}

/*.articleRow:hover {
  background-color: rgb(220, 220, 220);
}*/

.articleRow a {
  text-decoration: none;
  color: rgb(80, 80, 180);
}

.articleRow a:visited {
  color: rgb(150, 150, 150);
}

.articleDate {
  width: 140px;
  padding: 0;
  padding-left: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
}

.articleTitle {
  padding: 0 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 26px;
  background-color: inherit;
}

.articleTitle:hover {
  text-decoration: underline;
}

.articleBlog {
  width: 400px;
  padding: 0;
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.articleBlog:hover {
  text-decoration: underline;
}

.articleDeleteButton > button {
  background-color: transparent;
  border-style: none;
  position: absolute;
  right: 10px;
  top: 40px;
  font-size: 200%;
}

.articleDeleteButton > button:hover {
  /*background-color: rgb(120, 145, 170);*/
}

.articleDeleteTouchButton {
  width: 100px;
  height: 100%;
  background-color: rgb(255, 0, 0);
  z-index: -1;
  position: absolute;;
  right: 0;
  top:0;
}

.articleDeleteTouchButton > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.articleDeleteTouchButton > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.pageList {
  width: 580px;
  margin: 0 auto;
  padding: 10px;
  font-size: 36px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  display: none;
}

.page {
  /*padding: 2px 10px;*/
}

.page a:hover {
  text-decoration: underline;
  background-color: rgb(220, 220, 220);
}

.page a {
  text-decoration: none;
  color: rgb(80, 80, 180);
}

.page a:visited {
  text-decoration: none;
  color: rgb(80, 80, 180);
}

.Footer {
  height: 280px;
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end; /* Safari */
  justify-content:         flex-end;
}

.Footer > .AdSpace {
  width: 307px;
  height: 250px;
  position: absolute;
  left: 0;
  padding:0;
  margin: 20px;
}

.Footer > .FooterContents {
  width: 300px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 40px;
  padding: 10px;
  font-size: 160%;
}

/*.Footer > .FooterContents a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}*/

/*.Rights {
  width: 260px !important;
}*/

.About {
  width: 100%;
}

.About > div {
  width: 90%;
  margin: 0 auto;
}

.About h2 {
  text-decoration: underline;
}

.About p {
  font-size: 160%;
}

}
